/*!
 * Doxee-eDox-Vida v4.0.0-alpha (http://doxee.com)
 * Copyright 2017-2017 Alcared
 */
/*** TYPOGRAPHY **/
body {
  font-family: 'Hind', sans-serif;
  position: relative;
  overflow-x: hidden; }

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #FF2B62;
  outline: none; }

p,
a,
li,
button {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.375em; }
  @media (max-width: 1199px) {
    p,
    a,
    li,
    button {
      font-size: 1.2em;
      line-height: 1.375em; } }
  @media (max-width: 991px) {
    p,
    a,
    li,
    button {
      font-size: 1.2em;
      line-height: 1.375em; } }
  @media (max-width: 543px) {
    p,
    a,
    li,
    button {
      font-size: 1.2em;
      line-height: 1.25em; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1.05em; }
  @media (max-width: 1199px) {
    h1 {
      font-size: 3em;
      line-height: 1.05em; } }
  @media (max-width: 991px) {
    h1 {
      font-size: 2.5em;
      line-height: 1.125em; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 2em;
      line-height: 1.25em; } }

h2 {
  font-weight: 300;
  font-size: 2.25em;
  line-height: 1.25em; }
  @media (max-width: 1199px) {
    h2 {
      font-size: 2.25em;
      line-height: 1.25em; } }
  @media (max-width: 991px) {
    h2 {
      font-size: 2em;
      line-height: 1.25em; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 1.625em;
      line-height: 1.15384615em; } }

.text-bold {
  font-weight: 600; }

.text-secondary {
  color: #FF2B62; }

.text-primary-light {
  color: #bea2e9; }

.text-small {
  font-size: 0.8em;
  line-height: 1.375em; }
  @media (max-width: 1199px) {
    .text-small {
      font-size: 0.8em;
      line-height: 1.375em; } }
  @media (max-width: 991px) {
    .text-small {
      font-size: 0.8em;
      line-height: 1.375em; } }
  @media (max-width: 543px) {
    .text-small {
      font-size: 0.8em;
      line-height: 1.25em; } }

.divider {
  margin: 0 auto;
  height: 0.8em;
  max-width: 32em;
  width: 100%;
  margin-top: 2em;
  background-color: #5F20CF; }
  @media (max-width: 767px) {
    .divider {
      max-width: 22em;
      height: 0.8em; } }

.divider-white {
  height: 1px;
  background-color: white;
  width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    padding-left: 16px; }
  ul li:before {
    content: "";
    display: inline-block;
    background-image: url("../img/bullet-point.svg");
    background-size: cover;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    color: #FF2B62; }

/*** TIMELINE ***/
.border-dashed-top {
  border-top: 1px dashed #000000; }

.border-dashed-right {
  border-right: 1px dashed #000000; }

.border-solid-right {
  border-right: 1px solid #000000; }

.timeline-bullet {
  width: 2em;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.timeline-bullet-small {
  width: 1em; }

.timeline-title {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.6em;
  margin-right: 1.2em; }

.timeline-empty {
  height: 7em; }

.arrow-down {
  width: 1.3em;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

iframe {
  overflow: hidden !important;
  min-height: 30em; }
  @media (max-width: 991px) {
    iframe {
      min-height: 15em; } }

.animate-fadein {
  visibility: hidden;
  -webkit-animation-duration: .5s; }

.animated {
  visibility: visible !important; }

header {
  background-color: #5F20CF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  header #vida-logo {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 130px; }

#main-menu {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  background-color: #5F20CF;
  border-left: 1px solid white;
  transition: all .3s ease-in;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 100vw; }
  @media (max-width: 543px) {
    #main-menu {
      width: 100vw;
      border-left: none; } }
  #main-menu .row:nth-child(1) {
    padding-bottom: 1em;
    padding-top: .5em; }
  #main-menu img {
    width: 2em; }
  #main-menu span {
    color: #bea2e9;
    font-size: .7em;
    line-height: 1em; }
    @media (max-width: 1199px) {
      #main-menu span {
        font-size: .7em;
        line-height: 1em; } }
    @media (max-width: 991px) {
      #main-menu span {
        font-size: .7em;
        line-height: 1em; } }
    @media (max-width: 543px) {
      #main-menu span {
        font-size: .7em;
        line-height: .9em; } }
  #main-menu p {
    color: #FFFFFF;
    margin-bottom: 0; }

.menu-hide {
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important; }

#menu-button {
  position: absolute;
  top: .5em;
  right: .5em;
  width: 2em;
  z-index: 99; }

.menu-button {
  cursor: pointer; }

#see-you .row:nth-child(2) iframe {
  width: 100%;
  height: 20em; }
  @media (max-width: 991px) {
    #see-you .row:nth-child(2) iframe {
      height: 15em; } }

#welcome {
  z-index: 1; }
  #welcome .row:nth-child(1) {
    height: 10em; }
    #welcome .row:nth-child(1) #arrow-right {
      width: 3.5em;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  #welcome .row:nth-child(3) p {
    max-width: 17em; }

#points {
  background-color: #5F20CF; }
  #points .row:nth-child(2) p {
    max-width: 17em; }
  #points .row:nth-child(3) iframe {
    position: absolute;
    top: -117px;
    left: -28px;
    min-height: 300px; }
    @media (max-width: 991px) {
      #points .row:nth-child(3) iframe {
        top: -86px;
        left: -12px;
        height: 100%;
        width: 210px; } }
  #points .row:nth-child(3) #counter-line {
    height: 1em;
    border: 1px solid black;
    width: 100%; }
    #points .row:nth-child(3) #counter-line .rect-bg {
      fill: #ffd5e0; }
    #points .row:nth-child(3) #counter-line .rect-fg {
      fill: #FF2B62; }
  #points form .input-container {
    position: relative; }
  #points form img {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.2em;
    margin-top: .288em;
    margin-right: 0.3em; }
  #points form input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding-left: 0.5em;
    margin-bottom: 0.1em;
    height: 28px; }
  #points form input[type=text]:focus {
    border: 1px solid #FF2B62; }

#additional-coverages {
  z-index: 1; }
  @media (max-width: 991px) {
    #additional-coverages .arrow-down {
      bottom: 60px; } }

#monthly-fee {
  background-color: #FF2B62;
  /* Form Styles */
  /* Input style */ }
  #monthly-fee #points-counter {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: -2px;
    bottom: auto;
    background-color: #FF2B62;
    z-index: 2; }
  #monthly-fee .input-container {
    position: relative;
    height: 18em; }
    @media (max-width: 1199px) {
      #monthly-fee .input-container {
        height: 15em; } }
    @media (max-width: 991px) {
      #monthly-fee .input-container {
        height: 12em; } }
    @media (max-width: 767px) {
      #monthly-fee .input-container {
        height: 13em; } }
    #monthly-fee .input-container label {
      cursor: pointer;
      display: table;
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      #monthly-fee .input-container label span {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
      #monthly-fee .input-container label .radio-button-container {
        width: 2em; }
      #monthly-fee .input-container label .label-container {
        width: 100%; }
  #monthly-fee .radio-button {
    width: 2em; }
    #monthly-fee .radio-button .shadow {
      opacity: 0.2;
      mix-blend-mode: multiply; }
    #monthly-fee .radio-button .bg {
      fill: #FFFFFF; }
    #monthly-fee .radio-button .check {
      fill: none;
      stroke: #FF2B62;
      stroke-miterlimit: 10; }
  #monthly-fee input[type="checkbox"] {
    width: 0;
    height: 0;
    display: none; }
  #monthly-fee input[type="checkbox"]:checked ~ label .radio-button .check {
    fill: #5F20CF;
    stroke: none; }

#map {
  height: 25em; }

footer {
  background-color: #FF2B62; }
  footer p {
    display: inline; }
  footer img {
    display: inline;
    width: 5em; }

.btn {
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: none;
  outline: none;
  padding: .8rem 1.6rem;
  cursor: pointer; }

.btn:active {
  border: none;
  outline: none; }

.btn:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22); }

.btn-primary {
  color: white;
  border-color: #5F20CF;
  background-color: #5F20CF; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    border-color: #2c0f61;
    background-color: #4b19a3; }
  .btn-primary:hover {
    color: white;
    border-color: #47189a;
    background-color: #4b19a3; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #47189a;
    background-color: #4b19a3; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      border-color: #2c0f61;
      background-color: #3d1484; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    border-color: #5F20CF;
    background-color: #5F20CF; }
  .btn-primary .badge {
    color: #5F20CF;
    background-color: white; }

.btn-secondary {
  color: white;
  border-color: #FF2B62;
  background-color: #FF2B62; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: white;
    border-color: #ab002c;
    background-color: #f70040; }
  .btn-secondary:hover {
    color: white;
    border-color: #ed003d;
    background-color: #f70040; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    color: white;
    border-color: #ed003d;
    background-color: #f70040; }
    .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
    .open > .btn-secondary.dropdown-toggle:hover,
    .open > .btn-secondary.dropdown-toggle:focus,
    .open > .btn-secondary.dropdown-toggle.focus {
      color: white;
      border-color: #ab002c;
      background-color: #d30037; }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    background-image: none; }
  .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
  fieldset[disabled] .btn-secondary:hover,
  fieldset[disabled] .btn-secondary:focus,
  fieldset[disabled] .btn-secondary.focus {
    border-color: #FF2B62;
    background-color: #FF2B62; }
  .btn-secondary .badge {
    color: #FF2B62;
    background-color: white; }

.btn-secondary {
  background-color: #FF2B62 !important;
  border-color: #FF2B62 !important; }
